DATABASE_URL=

PORT=5513

NODE_ENV=

#Google Auth API
GOOGLE_CLIENT_ID=

FRONT_END_DOMAIN=http://localhost:5173
BUILD_DOMAIN=

CLOUDINARY_CLOUD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PRODUCT_PER_PAGE=5

RZP_TEST_API_KEY=
RZP_TEST_KEY_SECRET=
RZP_TEST_KEY_WEBHOOK_SECRET=

MAIL_PASSKEY=
MAIL_ADDRESS=

COOKIE_SECRET=
JWT_SECRET=
JWTREFRESHSECRET=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=